.div-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  min-height: 100vh;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.div-wrapper .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.div-wrapper .div {
  display: flex;
  max-height: 76px;
  height: 76px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eeeeee;
}

.div-wrapper .rectangle {
  position: relative;
  width: 52px;
  height: 30px;
  background-color: #ffffff;
}

.div-wrapper .HEA-lth {
  position: relative;
  flex: 0 0 auto;
}

.div-wrapper .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 52px;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.div-wrapper .text-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -6.00px;
  margin-bottom: -4.00px;
  margin-left: -8.50px;
  margin-right: -8.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.div-wrapper .frame-wrapper {
  display: flex;
  min-height: 690px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 200px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #c4c4c4;
}

.div-wrapper .frame-2 {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  max-width: 600px;
  min-height: 703px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -6.50px;
  margin-bottom: -6.50px;
  margin-left: -200.00px;
  margin-right: -200.00px;
  background-color: #ffffff;
}

.div-wrapper .frame-3 {
  display: flex;
  flex-direction: column;
  max-height: 155px;
  height: 125px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.div-wrapper .frame-4 {
  display: flex;
  width: 126px;
  height: 79px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .frame-5 {
  display: flex;
  width: 137px;
  height: 23px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.div-wrapper .text-wrapper-3 {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .pagination-previous-wrapper {
  display: flex;
  flex-direction: column;
  height: 23px;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.div-wrapper .pagination-previous {
  display: flex;
  height: 23px;
  align-items: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -10.00px;
  border-radius: var(--size-radius-200);
}

.div-wrapper .arrow-left {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: -4.50px;
  margin-bottom: -4.50px;
}

.div-wrapper .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -5.50px;
  margin-bottom: -3.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.div-wrapper .frame-6 {
  display: flex;
  flex-direction: column;
  width: 349px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.div-wrapper .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .frame-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #be2222;
  border-radius: 10px;
}

.div-wrapper .text-wrapper-5 {
  width: fit-content;
  margin-top: -1.00px;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .frame-9 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .frame-10 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fbfbfb;
  border-radius: 10px;
}

.div-wrapper .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .frame-11 {
  display: flex;
  min-width: 393px;
  min-height: 73px;
  max-height: 73px;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #eeeeee;
}

.div-wrapper .img {
  position: relative;
  width: 73px;
  height: 67px;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  margin-left: -2.50px;
}

.div-wrapper .frame-12 {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  background-color: #fbfbfb;
  border-radius: 20px;
}

.div-wrapper .weightlifting {
  position: relative;
  width: 24px;
  height: 24px;
}

.div-wrapper .img-wrapper {
  position: relative;
  height: 24px;
}

.div-wrapper .frame-13 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
}

.div-wrapper .text-wrapper-7 {
  flex: 1;
  align-self: stretch;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .frame-14 {
  display: flex;
  flex-direction: column;
  width: 73px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  margin-right: -2.50px;
  background-color: #fbfbfb;
  border-radius: 20px;
}