.screen {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  min-height: 100vh;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.screen .div {
  display: flex;
  max-height: 76px;
  height: 76px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eeeeee;
}

.screen .rectangle {
  position: relative;
  width: 52px;
  height: 30px;
  background-color: #ffffff;
}

.screen .HEA-lth {
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 30px;
  padding: var(--size-space-300);
  cursor: pointer;
  background-color: black;
  border: 1px solid var(--color-border-brand-default);
  border-radius: 3px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.text-wrapper:hover {
  background-color: gray;
}

.screen .frame-wrapper {
  display: flex;
  min-height: 690px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 200px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #c4c4c4;
}

.screen .frame-2 {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  max-width: 600px;
  min-height: 703px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -6.5px;
  margin-bottom: -6.5px;
  margin-left: -23.5px;
  margin-right: -23.5px;
  background-color: #ffffff;
}

.screen .div-wrapper {
  display: flex;
  width: 126px;
  height: 51px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.screen .text-wrapper-2 {
  align-self: stretch;
  font-weight: 700;
  font-size: 32px;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame-3 {
  display: flex;
  width: 137px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.screen .text-wrapper-3 {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.screen .pagination-previous {
  display: flex;
  height: 23px;
  align-items: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: var(--size-radius-200);
}

.screen .arrow-left {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: -4.5px;
  margin-bottom: -4.5px;
}

.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -5.5px;
  margin-bottom: -3.5px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.screen .frame-4 {
  display: flex;
  height: 188px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 32px 30px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.screen .image {
  position: relative;
  width: 172px;
  height: 172px;
  margin-top: -10.5px;
  margin-bottom: -10.5px;
  margin-left: -15.5px;
  object-fit: cover;
}

.screen .img {
  margin-top: -10.5px;
  margin-bottom: -10.5px;
  margin-right: -15.5px;
  position: relative;
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.screen .frame-5 {
  display: flex;
  height: 234.33px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.screen .image-2 {
  margin-left: -15.5px;
  position: relative;
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.screen .image-3 {
  margin-right: -15.5px;
  position: relative;
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.screen .frame-6 {
  display: flex;
  height: 188px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 30px 60px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.screen .image-4 {
  margin-top: -37px;
  margin-bottom: -37px;
  margin-left: -15.5px;
  position: relative;
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.screen .image-5 {
  margin-top: -37px;
  margin-bottom: -37px;
  margin-right: -15.5px;
  position: relative;
  width: 172px;
  height: 172px;
  object-fit: cover;
}

.screen .frame-7 {
  display: flex;
  min-width: 393px;
  min-height: 73px;
  max-height: 73px;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #eeeeee;
}

.screen .frame-8 {
  position: relative;
  width: 73px;
  height: 67px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.screen .frame-9 {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7px;
  margin-bottom: -7px;
  background-color: #fbfbfb;
  border-radius: 20px;
}

.screen .group {
  position: relative;
  width: 24px;
  height: 24px;
}

.screen .img-wrapper {
  position: relative;
  height: 24px;
}

.screen .frame-10 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
}

.screen .text-wrapper-5 {
  position: relative;
  flex: 1;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.screen .frame-11 {
  display: flex;
  flex-direction: column;
  width: 73px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7px;
  margin-bottom: -7px;
  background-color: #fbfbfb;
  border-radius: 20px;
}

.frame-9,
.frame-8,
.frame-11,
.arrow-left,
.text-wrapper-4 {
  cursor: pointer;
}
