.screen {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  min-height: 100vh;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.screen .div {
  display: flex;
  max-height: 76px;
  height: 76px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #eeeeee;
}

.screen .rectangle {
  position: relative;
  width: 52px;
  height: 30px;
  background-color: #ffffff;
}

.screen .HEA-lth {
  position: relative;
  flex: 0 0 auto;
}

.screen .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 52px;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.screen .text-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -6.00px;
  margin-bottom: -4.00px;
  margin-left: -8.50px;
  margin-right: -8.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.screen .frame-wrapper {
  display: flex;
  min-height: 690px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 200px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #c4c4c4;
}

.screen .frame-2 {
  display: flex;
  flex-direction: column;
  min-width: 393px;
  max-width: 600px;
  min-height: 703px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -6.50px;
  margin-bottom: -6.50px;
  margin-left: -51.00px;
  margin-right: -51.00px;
  background-color: #ffffff;
}

.screen .pagination-previous {
  display: flex;
  height: 23px;
  align-items: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200) var(--size-space-300) var(--size-space-200)
    var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: var(--size-radius-200);
}

.screen .arrow-left {
  position: relative;
  width: 16px;
  height: 16px;
  margin-top: -4.50px;
  margin-bottom: -4.50px;
}

.screen .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -5.50px;
  margin-bottom: -3.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.screen .modal-date-picker {
  display: flex;
  flex-direction: column;
  width: 341px;
  height: 330px;
  align-items: flex-start;
  position: relative;
  background-color: var(--color-background-warning-tertiary);
  border-radius: 28px;
  overflow: hidden;
}

.screen .local-selection-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .building-blocks-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.screen .state-layer {
  display: inline-flex;
  gap: 8px;
  padding: 10px 4px 10px 8px;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.screen .label-text {
  position: relative;
  width: fit-content;
  font-family: var(--m3-label-large-font-family);
  font-weight: var(--m3-label-large-font-weight);
  color: #49454f;
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.screen .icon {
  position: relative;
  width: 18px;
  height: 18px;
}

.screen .controls {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.screen .icon-button {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.screen .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

.screen .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.screen .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.screen .local-calendar-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .div-2 {
  display: flex;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.screen .div-wrapper {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.screen .date {
  font-weight: var(--m3-body-large-font-weight);
  color: #1d1b20;
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-large-font-family);
  text-align: center;
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.screen .container-wrapper {
  gap: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.screen .state-layer-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: -1.36px;
  margin-right: -1.36px;
  gap: 10px;
  position: relative;
}

.screen .state-layer-2 {
  display: flex;
  width: 40px;
  height: 40px;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.screen .empty-container {
  position: relative;
  width: 22px;
  height: 24px;
  margin-top: -2.00px;
  margin-bottom: -2.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.screen .container-2 {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

.screen .date-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.screen .container-3 {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  gap: 10px;
  position: relative;
}

.screen .date-2 {
  margin-top: -3.00px;
  margin-bottom: -1.00px;
  font-weight: var(--m3-body-large-font-weight);
  color: #000000;
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-large-font-family);
  text-align: center;
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.screen .thursday {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.screen .container-4 {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: flex-start;
  background-color: #000000;
  border-radius: 100px;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

.screen .date-3 {
  font-weight: var(--m3-label-large-font-weight);
  color: #fffbeb;
  font-size: var(--m3-label-large-font-size);
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--m3-label-large-font-family);
  text-align: center;
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.screen .frame-3 {
  display: inline-flex;
  flex-direction: column;
  height: 312px;
  align-items: center;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.screen .p {
  height: 36px;
  margin-top: -1.00px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  position: relative;
  align-self: stretch;
  color: #000000;
  text-align: center;
  font-style: var(--m3-body-large-font-style);
}

.screen .rectangle-2 {
  position: relative;
  width: 341px;
  height: 254px;
  background-color: #f5f5f5;
  border-radius: 14px;
}

.screen .frame-4 {
  display: flex;
  min-width: 393px;
  min-height: 73px;
  max-height: 73px;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 10px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fbfbfb;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #eeeeee;
}

.screen .frame-5 {
  position: relative;
  width: 73px;
  height: 67px;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
}

.screen .frame-6 {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  background-color: #fbfbfb;
  border-radius: 20px;
}

.screen .img-wrapper {
  position: relative;
  height: 24px;
}

.screen .frame-7 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1px;
  left: 1px;
}

.screen .text-wrapper-3 {
  flex: 1;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
  position: relative;
  align-self: stretch;
  color: #000000;
  text-align: center;
}

.screen .frame-8 {
  display: flex;
  flex-direction: column;
  width: 73px;
  height: 67px;
  align-items: center;
  gap: 8px;
  padding: 10px;
  position: relative;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  background-color: #fbfbfb;
  border-radius: 20px;
}
